* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 20px auto;
}

button {
    border: 1px solid black;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 20px;
}

.text-box {
    width: 600px;
    height: 150px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 30px 15px;
    margin: 10px 0;
    text-align: center;
}

.flex {
    display: flex;
    gap: 5px;
}

button.active {
    background-color: yellow;
}